.component.component--pixel {
  display: inline-block;
  width: 32px;
  height: 32px;
  position: relative;
  margin: 0;
}
@media only screen and (min-width: 420px) {
  .component.component--pixel {
    width: 44px;
    height: 44px;
  }
}
@media only screen and (min-width: 768px) {
  .component.component--pixel {
    width: 46px;
    height: 46px;
  }
}
.component.component--pixel label {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  outline: 1px solid white;
}
.component.component--pixel input[type="checkbox"] {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
