.component.component--radio-options {
  text-align: center;
  background: white;
  max-width: 280px;
  padding: 0.5em 0;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
.component.component--radio-options .radio-option {
  margin: 0 1em;
}
.component.component--radio-options label {
  margin-right: 0.5em;
}
.component.component--radio-options input {
  position: relative;
  top: -1px;
}
