button {
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 10px;
  background: #21c7a8;
  cursor: pointer;
}
button:hover,
button:focus {
  background: #3be7c7;
}
.button-exit {
  background: #ff6969;
}
.button-exit:hover,
.button-exit:focus {
  background: #fd8080;
}
.button-invisible {
  padding: 0;
  margin: 0;
  background: transparent;
}
