body {
  /* background: #efefbb;
  background: -webkit-linear-gradient(to top, #d4d3dd, #efefbb);
  background: linear-gradient(to top, #d4d3dd, #efefbb); */

  /* background: #0f2027;
  background: -webkit-linear-gradient(to bottom, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to bottom, #2c5364, #203a43, #0f2027); */

  /* background: #ff9966;
  background: -webkit-linear-gradient(to top right,#ff5e62,#ff9966);
  background: linear-gradient(to top right,#ff5e62,#ff9966);  */

  background: #c9d6ff;
  background: -webkit-linear-gradient(to bottom, #e2e2e2, #c9d6ff);
  background: linear-gradient(to bottom, #e2e2e2, #c9d6ff);

  padding-bottom: 6em;
}

main {
  max-width: 90%;
  margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 80%;
  }
}
