header > div {
  margin-right: 0.5em;
}
header nav {
  display: flex;
}
header nav > .load-modal {
  flex: 1;
}
@media only screen and (min-width: 768px) {
  header nav {
    display: block;
    text-align: right;
  }
  header nav > div {
    display: inline-block;
    flex: none;
  }
}
header nav > div > button {
  background: transparent;
}
header nav > div > button:hover,
header nav > div > button:focus {
  background: transparent;
  text-decoration: underline;
}
