/* Modals - toggle states */
.modalOpen {
  height: 100%;
  overflow-y: hidden;
  position: fixed;
  width: 100%;
}
.modal {
  position: fixed;
  top: 0%;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.9);
  z-index: 999;
  text-align: left;
}
.modal button.button-exit {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  z-index: 999;
}
@media only screen and (min-width: 600px) {
  .modal button.button-exit {
    top: 2em;
    right: 2em;
  }
}

/* Modal content */
.modal-content {
  position: absolute;
  top: 50%;
  width: 280px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 0 1em 1em 1em;
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  overflow: scroll;
  max-height: 90vh;
}
@media only screen and (min-width: 768px) {
  .modal-content {
    overflow: scroll;
    max-height: 600px;
  }
}

/* Modal lists */
.modal ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.modal li {
  border-top: 1px solid #ddd;
  padding: 0.75em 0;
  display: flex;
  justify-content: space-between;
}
.modal li:first-of-type {
  border-top: none;
}
.modal li button {
  height: fit-content;
}

/* Modal form fields */
.modal input[type="text"] {
  border-radius: 5px;
  border: none;
  box-shadow: inset 0px 0px 1px 1px rgba(71, 26, 26, 0.4),
    0px 0px 0px 1px rgba(255, 255, 255, 0.5);
  padding: 10px;
}
